*{
    Margin:0;
    padding: 0;
    box-sizing: border-box;

}
@font-face {
    font-family: "Regular";
    src: url("../Font/Montserrat-Regular.ttf");
}
@font-face {
    font-family: "Bold";
    src: url("../Font/Montserrat-Bold.ttf");
}
@font-face {
    font-family: "Italic" ;
    src: url("../Font/Montserrat-Italic.ttf");
}
@font-face {
    font-family:"SemiBold" ;
    src: url("../Font/Montserrat-SemiBold.ttf");
}
/* h1 {
    color: #010101;
    font-family: "Bold";
    font-size: 100px;
    text-align: center;
} */
/* .navBar{
    display: flex;
} */
.Hero1 {
    width: 100%;
    
}
.Hero2{
    width: 100%;
}
.Hero3{
    width: 100%;
}
.Hero4{
    width: 100%;
}
.Hero5{
    width: 100%;
}
.h1_style{
    font-family: "bold";
    color: #0055A4;
    padding: 3rem;
    text-align: center;
    font-size: 64px;
}
.h2_style{
    margin: 8rem 3rem 2rem;
    font-size: 50px;
    color:#0055A4;
    text-align: center;
}
.h3-style{
    text-align: center;
    color:#0055A4;
    font-size: 20px;
    font-family: "Italic";
}
.title_3{
    text-align: left;
    color: #0055A4;
    padding-top: 3rem;
    padding-left: 3rem;
    font-size: 24px;
    font-family: "SemiBold";
}
.body_gral{
    text-align: justify;
    color: #010101;
    padding: 3rem;
    font-size: 16px;
    font-family: "Regular";
    line-height: 2;
}
.Nosotros{
    color: #010101;
    font-family: "SemiBold";
    font-size: 16px;
    text-align: center;
}
.container{
    text-align: center;
}
.cardHome{
     width: 300px;
     height: 300px;
     border: #000000 1px solid ;
     border-radius:   10px; ;
     padding: 65px;
     margin: 100px;
     display: inline-block;
}
.cardHome div{
    background-color: #0055A4;
    border-radius:  20px; ;
    width: 167px;
    height: 167px;

}

.video{
    text-align: center;
}
.logoNav{
    width: 250px;
    display: inline-block;
}
nav ul{
    display: inline-block;
    padding: 55px 40px;
    float: right;
}
nav ul li{
    display: inline-block;
    font-family: SemiBold;
    font-size: 20px;
    padding: 0px 30px;
}
a{
    text-decoration: none;
    color: #010101;
}

li{
    list-style: none;
    text-decoration:none;
}

.navbar{
    /* border: cornflowerblue solid 5px;  */
    padding: 0;
    font-family: "SemiBold";
    font-size: 20px;
}

.fond{
    background-color: rgb(255, 255, 255);
}
.menu-ancho{
    justify-content: end;

}
.nav-link{
    margin-right: 50px;
}
.active-style{
    font-family: "bold";
    color: #0055A4;
}
.hospital{
    display: flex;
    gap: 1rem;
    padding: 2rem;
}
.tarjeta{
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 100%;
  
}
.hospitales{
    width: 100%;
}

/*****************FOOTER***************/

.footer__top{
    display: flex;
    padding-block: 1rem;
}

.footer{
    display: flex;
    flex-direction: column;
    background-color: rgb(168, 168, 167);
    background-size: cover;
    background-position: center center;
    padding: 1rem;
    font-family: "Regular";
    margin-top: 4rem;
}

.footer__top >div{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-size: large;
}

.address{
    align-items: flex-end;
}
.address p{
    font-family: "SemiBold";
    letter-spacing: 1px;
    padding: 1rem;
}
.footer__bottom{
    display: flex;
    justify-content: center;
    color: white;
    
}
.footer__bottom p{
    font-family: "Regular";
    letter-spacing: 1px; 
    color: white;
    font-size: large;
    text-align: center;

    font-size: 10px;
   
}
.logo img{
    width: 200px;
}

/******************** TURNOS - FORM *****************/

.search_peoble{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "tipo_dni"   
    "numero_dni"
    "button";
    width: 25rem;
    gap: 1rem;
    font-family: "Regular";
    
}
.columna1{
    padding: 3rem;
    border: #0055A4 solid;
    margin: 1rem;
} 

.search_peoble .tipo_dni{
    grid-area: tipo_dni;
    padding: 1rem; 
}
.search_peoble .numero_dni{
    grid-area: numero_dni; 
    padding: 1rem; 
}
.search_peoble .button{
    grid-area: button;
    padding: 1rem; 
    border: 0; 
    background-color: #0055A4;
    color: white;
    border-radius: 2px;
    font-family: "SemiBold";
}



 .reservation_turno{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr ;
    grid-template-areas: 
    "apellido            telefono        obra_social"
    "nombre_paciente     celular         plan"
     "edad                sexo            email";
    padding: 1rem;
    font-family: "Regular";
    gap: 1rem;
}

.reservation_turno .apellido{
    grid-area: apellido ;
    padding: 1rem; 
}
.reservation_turno .telefono{
    grid-area: telefono ;
    padding: 1rem; 
}
.reservation_turno .obra_social{
    grid-area: obra_social ;
    padding: 1rem; 
}

.reservation_turno .nombre_paciente{
    grid-area: nombre_paciente ;
    padding: 1rem; 
}
.reservation_turno .celular{
    grid-area: celular ;
    padding: 1rem; 
}
.reservation_turno .plan{
    grid-area: plan ;
    padding: 1rem;
}
.reservation_turno .edad{
    grid-area: edad ;
    padding: 1rem; 
}
.reservation_turno .sexo{
    grid-area: sexo ;
    padding: 1rem; 
}
.reservation_turno .email{
    grid-area: email ;
    padding: 1rem; 
}
.columna2{
    padding: 3rem;
    border: #0055A4 solid;
    margin: 1rem;
}
/*************** REGISTRO2*****************/
.form_login{
    font-family: "Regular";
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 55px 85px 55px;
    box-shadow: 0 0 20px ;
}












/*************** REGISTRO*****************/
.cuenta{
    display: grid;
    grid-template-columns:1fr ;
    grid-template-rows: 1fr 1fr 1fr ;
    grid-template-areas: 
    "mail"
    "password"
    "button";
    padding: 1rem;
    font-family: "Regular";
    gap: 1rem;
    width: 25rem;
}
.cuenta .email{
    grid-area: email;
    padding: 1rem; 
}
.cuenta .password{
    grid-area: password;
    padding: 1rem; 
}
.cuenta .button{
    grid-area: button;
    padding: 1rem; 
}

@media screen and (max-width: 480px) {
    

.hospital{
    flex-direction: column;
}
.footer p{
    flex-direction: column;
    font-size: 10px;
    margin: 0px;
}
.col{
    flex-direction: column;
}
.h1_style
{
    font-size: 50px;
    padding-bottom: 0px;
}
.h2_style{
    font-size: 30px;
    padding-bottom: 0px;
    margin: 0px;
}
.body_gral{
    font-size: 14px;
}
.search_peoble{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.reservation_turno{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px;
}

}