@media screen and (max-width: 480px) {
    

    .hospital{
        flex-direction: column;
    }
    .footer p{
        flex-direction: column;
        font-size: 10px;
        margin: 0px;
    }
    .col{
        flex-direction: column;
    }
    .h1_style
    {
        font-size: 50px;
        padding-bottom: 0px;
    }
    .h2_style{
        font-size: 30px;
        padding-bottom: 0px;
        margin: 0px;
    }
    .body_gral{
        font-size: 14px;
    }
    .columna1{
        flex-direction: column;
    }
    .search_people{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .reservation_turno{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0px;
    }
    .contacto{
        flex-direction: column;
    }
    .pruebaRegistro{
        background-image: none;
    }

    }